version: '3.9'

services:
  db:
    image: postgres:15
    container_name: db_container
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: campus_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: backend_container
    depends_on:
      - db
    command:
      [
        "./wait-for-it.sh",
        "db:5432",
        "--",
        "python",
        "manage.py",
        "runserver",
        "0.0.0.0:8000",
      ]
    environment:
      DATABASE_URL: postgres://admin:password@db:5432/campus_db
      DJANGO_SETTINGS_MODULE: backend.settings
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}  # Pulled directly from host environment
    ports:
      - "8000:8000"

volumes:
  postgres_data:
