name: Frontend CI

on:
  push:
  #This CI/CD pipleine runs on the Frontend branch and all the frontend branches only
    branches:
      - frontend
      - frontend/*
      - '!main'
  pull_request:
    branches:
      - frontend
      - frontend/*
      

jobs:

  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    #Install the react native dependencies
    - name: Install dependencies
      run: npm install

   #Run the Jest tests 
    - name: Run Jest tests
      run: npm test
  # Runnint sonarCloud testing
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN:  #